parameters:
  default_cache_lifetime: 7200
  default_trusted_proxies: 127.0.0.1
  env(REDIS_HOST): 'localhost'
  env(REDIS_PORT): 6379
  env(REDIS_DB): 0
  env(CACHE_URL): 'redis://%env(string:REDIS_HOST)%:%env(int:REDIS_PORT)%'
  env(REDIS_SESSION_DATABASE): 0
  env(REDIS_CACHE_DATABASE): 1
  env(REDIS_CACHE_HTTP_DATABASE): 2
  env(REDIS_LOCK_DATABASE): 4
  env(REDIS_CACHE_OBJECT_URL): '%env(string:CACHE_URL)%/%env(int:REDIS_CACHE_DATABASE)%'
  env(REDIS_CACHE_HTTP_URL): '%env(string:CACHE_URL)%/%env(int:REDIS_CACHE_HTTP_DATABASE)%'
  env(REDIS_SESSION_URL): '%env(string:CACHE_URL)%/%env(int:REDIS_SESSION_DATABASE)%'
  env(LOCK_DSN): '%env(string:CACHE_URL)%/%env(int:REDIS_LOCK_DATABASE)%'

framework:
  cache:
    default_redis_provider: '%env(string:REDIS_CACHE_OBJECT_URL)%'
    app: cache.adapter.redis_tag_aware
    system: cache.adapter.redis_tag_aware
    pools:
      cache.serializer:
        adapter: cache.app
      cache.annotations:
        adapter: cache.app
      cache.property_info:
        adapter: cache.app
      cache.messenger:
        adapter: cache.app
      cache.property_access:
        adapter: cache.app
      cache.rate_limiter:
        adapter: cache.app
      cache.validator_expression_language:
        adapter: cache.app
      cache.tags:
        adapter: cache.app
      cache.object:
        default_lifetime: '%env(int:default:default_cache_lifetime:SHOPWARE_HTTP_DEFAULT_TTL)%'
        adapter: cache.app
        tags: cache.tags
      cache.http:
        default_lifetime: '%env(int:default:default_cache_lifetime:SHOPWARE_HTTP_DEFAULT_TTL)%'
        adapter: cache.adapter.redis_tag_aware
        provider: '%env(string:REDIS_CACHE_HTTP_URL)%'
        tags: cache.tags
  session:
    handler_id:
      '%env(string:REDIS_SESSION_URL)%'
  trusted_proxies: '%env(string:default:default_trusted_proxies:TRUSTED_PROXIES)%'
  trusted_headers: [ 'x-forwarded-for', 'x-forwarded-proto', 'x-forwarded-port' ]
